{% extends 'preamble.html' %} {% load static %} {% block title %}
<title>Paper Valdivia - Productos</title>
{% endblock %} {% block main %} {% comment %}
<link rel="stylesheet" href="https://technext.github.io/product-admin/css/templatemo-style.css"> {% endcomment %}
<script type="text/javascript" src="{% static 'js/staff.js' %}"></script>

<body id="reportsPage">
    <div class="container mt-5">
        <div class="row tm-content-row">
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
                <div style="padding-bottom: 2%;" class="tm-bg-primary-dark tm-block tm-block-products">
                    <div class="tm-product-table-container">
                        <table class="table table-hover tm-table-small tm-product-table">
                            <thead>
                                <tr>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">PRODUCTO</th>
                                    <th scope="col">CATEGORÍA</th>
                                    <th scope="col">PRECIO</th>
                                    <th scope="col">UNIDADES VENDIDAS</th>
                                    <th scope="col" align="right">EN STOCK</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody name="table" id="table">
                                <!-- <tr>
                                    <th scope="row"><input type="checkbox" /></th>
                                    <td>{{item.nombre}}</td>
                                    <td>{{item.categoria}}</td>
                                    <td>{{item.precio}}</td>
                                    <td>{{item.vendidos}}</td>
                                    <td>{{item.stock}}</td>
                                    <td>
                                        <a href="#" class="tm-product-delete-link">
                                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                        </a>
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                    <!-- table container -->
                    <!-- <a href="nuevoProducto" class="btn btn-primary btn-block mb-3">Agregar nuevo producto</a>
                     -->
                    <button onclick="location.href='nuevoProducto'" class="btn btn-primary btn-block">
                        Añadir nuevo producto
                    </button>
                    <button class="btn btn-primary btn-block">
                        Eliminar producto(s) seleccionado
                    </button>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
                    <h2 class="tm-block-title">Categorías</h2>
                    <div class="tm-product-table-container">
                        <table class="table tm-table-small tm-product-table">
                            <tbody>
                                {% for categoria in categorias %}
                                <tr>
                                    <td class="tm-product-name">{{categoria.nombre}}</td>
                                    <td class="tm-product-delete">
                                        <a href="{{ categoria.get_absolute_url }}">
                                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                        </a>
                                    </td>
                                    {%endfor%}
                            </tbody>
                        </table>
                    </div>
                    <!-- table container -->
                    <a href="nuevaCategoria" class="btn btn-primary btn-block mb-3">Agregar nueva categoría</a>
                </div>
            </div>
        </div>
    </div>
</body>

<script language="javascript">
    fillPanel();
</script>

{% endblock %}