{% extends 'preamble.html' %} {% load static %} {% block title %}
<title>Paper Valdivia - Productos</title>
{% endblock %} {% block main %} {% comment %}
<link rel="stylesheet" href="https://technext.github.io/product-admin/css/templatemo-style.css"> {% endcomment %}
<script type="text/javascript" src="{% static 'js/staff.js' %}"></script>

<body id="reportsPage">
    <div class="container mt-5">
        <div class="row tm-content-row">
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
                <div style="padding-bottom: 2%;" class="tm-bg-primary-dark tm-block tm-block-products">
                    <div class="tm-product-table-container">
                        <table class="table table-hover tm-table-small tm-product-table">
                            <thead>
                                <tr>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">Id<i id="sort" class="bi bi-sort-down"></i></th>
                                    <th scope="col">PRODUCTO</th>
                                    <th scope="col">CATEGORÍA</th>
                                    <th scope="col">SUBCATEGORÍA</th>
                                    <th scope="col">PRECIO</th>
                                    <th scope="col">UNIDADES VENDIDAS</th>
                                    <th scope="col">EN STOCK</th>
                                    <th scope="col">Editar</th>
                                </tr>
                            </thead>
                            <tbody name="table" id="table">
                            </tbody>
                        </table>
                    </div>
                    <!-- table container -->
                    <!-- <a href="nuevoProducto" class="btn btn-primary btn-block mb-3">Agregar nuevo producto</a>
                     -->
                    <button onclick="location.href='nuevoProducto'" class="btn btn-primary btn-block">
                        Añadir nuevo producto
                    </button>
                    <button class="btn btn-primary btn-block">
                        Eliminar producto(s) seleccionado
                    </button>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
                    <h2 class="tm-block-title">Categorías</h2>
                    <div class="tm-product-table-container">
                        <table class="table tm-table-small tm-product-table">
                            <tbody>
                                {% for categoria in categorias %}
                                <tr>
                                    <td class="tm-product-name">{{categoria.nombre}} <i onclick="handleDeleteCategory(this.id)" id="{{categoria.slug}}" style="float:right;" class="bi bi-trash"></i></td>
                                    <td class="tm-product-delete">
                                        <a href="{{ categoria.get_absolute_url }}">
                                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                        </a>
                                    </td>
                                    {%endfor%}
                            </tbody>
                        </table>
                    </div>
                    <!-- table container -->
                    <a href="nuevaCategoria" class="btn btn-primary btn-block mb-3">Agregar nueva categoría</a>
                </div>
            </div>
        </div>
    </div>
</body>

<script language="javascript">
    fillPanel();

    // onclick i
    function handleDeleteCategory(slug) {
        var r = confirm("¿Estás seguro de que quieres eliminar esta categoría?");
        if (r == true) {
            deleteCategoria(slug);
        }
    }

    function trclick(event) {
        var tr = event.target.parentNode;
        var checkbox = tr.getElementsByTagName("input")[0];
        checkbox.checked = !checkbox.checked;
    }

    $('th').click(function() {
        var table = $(this).parents('table').eq(0)
            // remove icon from old th 
        $('#sort').detach().appendTo(this);
        var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
        this.asc = !this.asc
        if (!this.asc) {
            // change sort to descending
            $('#sort').removeClass('bi-sort-down').addClass('bi-sort-up');
            rows = rows.reverse()
        } else {
            // change sort to ascending
            $('#sort').removeClass('bi-sort-up').addClass('bi-sort-down');
        }
        for (var i = 0; i < rows.length; i++) {
            table.append(rows[i])
        }
    })

    function comparer(index) {
        return function(a, b) {
            var valA = getCellValue(a, index),
                valB = getCellValue(b, index)
            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
        }
    }

    function getCellValue(row, index) {
        return $(row).children('td').eq(index).text()
    }
</script>

{% endblock %}