{% extends 'preamble.html' %} {% load static %} {% block title %}
<title>Paper Valdivia - Catálogo</title>
{% endblock %} {% block main %}
<script type="text/javascript" src="{% static 'js/consultas.js' %}"></script>
<main>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4" id="productos">
                <script language="javascript">
                    getProducts()
                </script>
                {% for item in items %}
                <a href="/catalogo/{{item.categoria.slug}}/{{ item.slug }}" style="text-decoration:none;color:rgb(0, 0, 0)">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{{ item.imagen.url }}" width="100%" height="225">

                            <div class="card-body">
                                <p style="font-family: Berlin-Sans-Fb-Regular; font-size:20px; margin-bottom: 0px;">{{ item.nombre }}</p>
                                <p style="font-family: Berlin-Sans-Fb-Regular; font-size:20px; color:rgb(94, 128, 119); margin-bottom: -5px;">${{ item.precio }}</p>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</main>


{% endblock %}