{% extends 'preamble.html' %} 
{% load static %}

{% block title %}
<title>Paper Valdivia - Descripción</title>
{% endblock %}

{% block main %}

<div class="container">
    <div class="row py-5 justify-content-center">
        <h4>
            Este proyecto consiste en una página web para publicar productos de papelería e idealmente hacer todo el proceso de compra en la misma, esto para simplificar el proceso ya que actualmente los productos se publican en Instagram y las ventas se hacen por mensajes directos de forma individual
        </h4>
    </div>
</div>

{% endblock %}